<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script type="text/javascript" src="services.js"></script>
    <script type="text/javascript" src="sandbox.js"></script>


    <title>Sandbox - Lesson 04</title>
  </head>
  <body ng-app="Lesson02">

    <div ng-controller="MyController as ctrl">
      <h3>Controller One</h3>

      <h4>Car Factory</h4>
      <div ng-bind="ctrl.myCar.make"></div>
      <div ng-bind="ctrl.myCar.model"></div>
      <div ng-bind="ctrl.myCar.year"></div>
      <div ng-bind="ctrl.myCar.age"></div>

      <input type="number" 
             ng-change="ctrl.myCar.setYear(ctrl.myCar.year)" 
             ng-model="ctrl.myCar.year">

      <br><br>


      <h4>Car Factory 2</h4>
      <div ng-bind="ctrl.myCar2.make"></div>
      <div ng-bind="ctrl.myCar2.model"></div>
      <div ng-bind="ctrl.myCar2.year"></div>
      <div ng-bind="ctrl.myCar2.age"></div>

      <input type="number" 
             ng-change="ctrl.myCar2.setYear(ctrl.myCar2.year)" 
             ng-model="ctrl.myCar2.year">

      <br><br>



      <button ng-click="ctrl.addItem()">Add Item</button>
        <div ng-repeat="object in ctrl.myFolders.kPersonal">
          <div ng-bind="object.item"></div>
        </div>
    </div>

    <div ng-controller="MyController2 as ctrl2">
      <h3>Controller Two</h3>
      <div ng-repeat="object in ctrl2.myFolders.kPersonal">
          <div ng-bind="object.item"></div>
      </div>
    </div>
  </body>
</html>