<div class="container">

  <h1 ng-bind="ctrl.name"></h1>


  <input type="text" ng-model="ctrl.address" ng-change="ctrl.updateAddress(ctrl.address)">

  <h3>Addresses</h3>
  <div style="height: 500px; overflow:auto;">
    <div ng-repeat="address in ctrl.addresses">
      <div ng-bind="address.address"></div>
      <div ng-bind="address.long"></div>
      <div ng-bind="address.lat"></div>
    </div>
  </div>

  <button class="btn btn-primary" ng-click="ctrl.getUsers()">Get Info</button>

  <h3>Users</h3>
  <div ng-repeat="user in ctrl.users">

  	<div ng-bind="user.name"></div>
  	<div ng-bind="user.gender"></div>
  	<button ng-click="ctrl.getFriendsForUser(user)">Get Friends</button>

  	<div ng-if="user.friends">
		<h3>User Friends</h3>
		<div ng-repeat="friend in user.friends"> 
			<div ng-bind="friend.name"></div>
		</div>
  	</div>
  </div>
</div>
